#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    chosen {
        zmk,physical-layout = &foostan_corne_5col_layout;
    };

    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // Base layer (Miryoku QWERTY)
        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  |
            // |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |
            // |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  |
            //             | ESC | SPC | TAB |   | ENT | BSPC | DEL |
            bindings = <
&kp Q       &kp W       &kp E        &kp R        &kp T          &kp Y    &kp U         &kp I        &kp O       &kp P
&hm LGUI A  &hm LALT S  &hm LCTRL D  &hm LSHFT F  &kp G          &kp H    &hm RSHFT J   &hm RCTRL K  &hm RALT L  &hm RGUI SEMI
&kp Z       &kp X       &kp C        &kp V        &kp B          &kp N    &kp M         &kp COMMA    &kp DOT     &kp FSLH
                        &lt 5 ESC    &lt 2 SPACE  &kp TAB      &lt 4 RET   &lt 3 BSPC  &lt 6 DEL
            >;
        };

        // Colemak-DH base layer
        colemak_layer {
            bindings = <
&kp Q       &kp W       &kp F        &kp P        &kp B          &kp J    &kp L         &kp U        &kp Y       &kp SEMI
&hm LGUI A  &hm LALT R  &hm LCTRL S  &hm LSHFT T  &kp G          &kp M    &hm RSHFT N   &hm RCTRL E  &hm RALT I  &hm RGUI O
&kp Z       &kp X       &kp C        &kp D        &kp V          &kp K    &kp H         &kp COMMA    &kp DOT     &kp FSLH
                        &lt 5 ESC    &lt 7 SPACE  &kp TAB        &lt 4 RET &lt 3 BSPC  &lt 6 DEL
            >;
        };

        // Navigation layer (vim-style arrows: h=left, j=down, k=up, l=right)
        nav_layer {
            bindings = <
&trans    &trans    &trans     &trans      &trans        &kp PG_UP &kp HOME &kp CAPS &kp END   &kp INS
&kp LGUI  &kp LALT  &kp LCTRL  &kp LSHFT   &trans        &kp LEFT  &kp DOWN &kp UP   &kp RIGHT &kp PG_DN
&trans    &trans    &trans     &trans      &trans        &trans    &trans   &trans   &trans    &to 1
                    &trans     &trans      &trans        &kp RET   &kp BSPC &kp DEL
            >;
        };

        // Numbers layer
        num_layer {
            bindings = <
&kp LBKT  &kp N7    &kp N8     &kp N9      &kp RBKT      &trans    &trans    &trans   &trans    &trans
&kp SEMI  &kp N4    &kp N5     &kp N6      &kp EQUAL     &trans    &kp RSHFT &kp RCTRL &kp RALT &kp RGUI
&kp GRAVE &kp N1    &kp N2     &kp N3      &kp BSLH      &trans    &trans    &trans   &trans    &trans
                    &kp DOT    &kp N0      &kp MINUS     &trans    &trans    &trans
            >;
        };

        // Symbols layer
        sym_layer {
            bindings = <
&kp LBRC  &kp AMPS  &kp ASTRK  &kp LPAR    &kp RBRC      &trans    &trans    &trans   &trans    &trans
&kp COLON &kp DLLR  &kp PRCNT  &kp CARET   &kp PLUS      &trans    &kp RSHFT &kp RCTRL &kp RALT &kp RGUI
&kp TILDE &kp EXCL  &kp AT     &kp HASH    &kp PIPE      &trans    &trans    &trans   &trans    &trans
                    &kp LPAR   &kp RPAR    &kp UNDER     &trans    &trans    &trans
            >;
        };

        // Media layer
        media_layer {
            bindings = <
&trans    &trans    &trans     &trans      &trans        &trans      &trans      &trans      &trans       &trans
&kp LGUI  &kp LALT  &kp LCTRL  &kp LSHFT   &trans        &kp C_PREV  &kp C_VOL_DN &kp C_VOL_UP &kp C_NEXT  &trans
&trans    &trans    &trans     &trans      &trans        &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_CLR
                    &trans     &trans      &trans        &kp C_STOP  &kp C_PP    &kp C_MUTE
            >;
        };

        // Function layer
        fun_layer {
            bindings = <
&kp F12   &kp F7    &kp F8     &kp F9      &kp PSCRN     &trans    &trans    &trans   &trans    &trans
&kp F11   &kp F4    &kp F5     &kp F6      &kp SLCK      &trans    &kp RSHFT &kp RCTRL &kp RALT &kp RGUI
&kp F10   &kp F1    &kp F2     &kp F3      &kp PAUSE_BREAK &trans  &trans    &trans   &trans    &trans
                    &kp K_APP  &kp SPACE   &kp TAB       &trans    &trans    &trans
            >;
        };

        // Colemak Navigation layer (layer 7)
        colemak_nav_layer {
            bindings = <
&trans    &trans    &trans     &trans      &trans        &kp PG_UP &kp HOME &kp CAPS &kp END   &kp INS
&kp LGUI  &kp LALT  &kp LCTRL  &kp LSHFT   &trans        &kp LEFT  &kp DOWN &kp UP   &kp RIGHT &kp PG_DN
&trans    &trans    &trans     &trans      &trans        &trans    &trans   &trans   &trans    &to 0
                    &trans     &trans      &trans        &kp RET   &kp BSPC &kp DEL
            >;
        };
    };
};